input[type="text"] {
  padding: 8px;
  font-size: 24px;
  width: 200px;
  border: none;
  border-bottom: 2px solid black;
  margin-right: 8px;
}

button {
  padding: 8px 16px;
  font-size: 24px;
  border: none;
  background-color: #0077ff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0055cc;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input-container input {
  margin-right: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .board {
    gap: 10px;
  }
}

.board__row {
  display: contents;
  justify-content: center;
  align-items: center;
}

.board__cell {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  max-width: 50px;
  height: 50px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .board__cell {
    max-width: 100px;
  }
}
