body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* .wordle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
} */

